<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="POST">
            {% csrf_token %}
            <label for="t">topic_name</label>
            <input type="text" name="t" id="t">
            <br><br>
            <label for="n">name</label>
            <input type="text" name="n" id="n">
            <br><br>
            <label for="u">url</label>
            <input type="text" name="u" id="u">
            <br><br>
            <label for="e">email</label>
            <input type="text" name="e" id="e">
            <br><br>
            <input type="submit" value="insert">
        </form>
    </center>
</body>
</html>